@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --clr-white: hsl(0, 100%, 100%);
  --clr-purple-100: hsl(275, 100%, 97%);
  --clr-purple-600: hsl(292, 16%, 49%);
  --clr-purple-950: hsl(292, 42%, 14%);
  --clr-purple-highlight: #b224f2;
  --ff: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-purple-950);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--clr-purple-100);
  position: relative;
  display: grid;
  place-items: center;
  font-family: var(--ff);
  color: var(--clr-purple-600);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: var(--clr-purple-950);
  background-image: url("../assets/images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: -1;
}

.accordion {
  max-width: 600px;
  margin: 50px auto;
  background-color: var(--clr-white);
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accr-header {
  display: flex;
  flex-grow: 1;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.accr-header .title {
  color: var(--clr-purple-950);
  font-weight: 600;
}
.accr-header .title:hover {
  color: var(--clr-purple-highlight);
  font-weight: 600;
}
.accr-header .icon-plus,
.accr-header .icon-star,
.accr-header .icon-minus {
  transition: transform 0.3s ease-out;
  width: 30px;
}

.accr-header .icon-plus,
.accr-header .icon-minus {
  margin-left: auto;
}

.icon {
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
}

.icon-minus {
  display: none;
}

.icon-plus {
  opacity: 1;
  fill: var(--clr-purple-highlight);
  color: var(--clr-white);
}

.icon-star {
  fill: var(--clr-purple-highlight);
  color: var(--clr-white);
}
.accr-header .icon-plus:hover {
  fill: var(--clr-purple-highlight);
  color: var(--clr-white);
}

.accr-body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;

  transition:
    max-height 0.4s ease-out,
    opacity 0.3s ease-in-out,
    padding 0.3s ease-in-out;
}

.accr-item {
  border-bottom: 1px solid var(--clr-purple-100);
}

.accr-body p {
  margin: 0;
  line-height: 1.5;
}

.accr-item.active .accr-body {
  max-height: 300px; /* must be bigger than content */
  opacity: 1;
  padding: 1rem;
}

.accr-item.active .icon-plus {
  display: none;
  transform: rotate(90deg);
}

.accr-item.active .icon-minus {
  display: inline-block;
  fill: var(--clr-purple-950);
  color: var(--clr-white);
}

footer {
  display: grid;
  grid-area: 2/1;
  text-align: center;
}

.w3c-img {
  border: 0;
  width: 88px;
  height: 31px;
}

@media (max-width: 400px) {
  .background {
    height: 25%;
    background-image: url("../assets/images/background-pattern-mobile.svg");
    background-size: contain;
  }

  .accordion {
    max-width: 90%;
    margin: 20px;
    padding: 1rem;
  }

  .accr-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .accr-header .icon-plus,
  .accr-header .icon-minus {
    margin-left: 0;
    align-self: flex-end;
  }

  .accr-body {
    padding: 0.5rem;
  }
}
